<h1>NYtimes Best selling</h1>


<h2>Fiction</h2>
<div class='container1'>
  <% count = 0 %>
    <% @nyt_fiction["results"].each do |x| %>
      <div class='box1'>
        <h4><%= link_to (x["book_details"][0]["title"]), nyt_best_selling_path(1,:name => x["book_details"][0]["author"], :title => x["book_details"][0]["title"], :description => x["book_details"][0]["description"], :publisher =>
          x["book_details"][0]["publisher"], :book_review_link => x["reviews"][0]["book_review_link"], :image => @coverarray[count]) %></h4>
        <%= image_tag @coverarray[count] %>
        <p><%= x["book_details"][0]["description"] %></p>
        <p><b>Rank:</b> <%= x["rank"] %></p>
        <p><b>Weeks on list:</b> <%= x["weeks_on_list"] %></p>

      </div>
      <% count += 1 %>
      <% end %>
    </div>


        <!-- @authors.where(name: "#{x["book_details"][0]["author"]}").first.id -->
