
<div class='secondinner'>

<h1><%= @random_year %> Best Sellers</h1></h1>

    <div class='container6'>
      <% count = 0 %>
        <% @nyt_fiction["results"].take(2).each do |x| %>
          <div class='box1'>
            <h4><%= link_to (x["book_details"][0]["title"]), nyt_best_selling_path(1, :title => x["book_details"][0]["title"]) %></h4>
            <p><b>Weeks on list:</b> <%= x["weeks_on_list"] %></p>
            <%= image_tag @coverarray[count] %>
            <p><%= x["book_details"][0]["description"] %></p>


          </div>
          <% count += 1 %>
          <% end %>
        </div>
      </div>
