



<h1><%= @book2.title %></h1>
<h3><%= @book2.authors %></h3>
<%= image_tag @book2.image_link(:zoom => 2) %>
<p><%= @book2.publisher %></p>
<p><%= @book2.categories %></p>
<p><%= @book2.published_date %></p>
<p><%= @book2.average_rating %></p>
<p><%= @book2.description %></p>

<% author = @author.where(name: @book2.authors) %>
<% book = @books.where(title: @book2.title) %>
<% if  book.empty? %>
<%= form_tag("/create/books", method: "post") do%>
      <%= hidden_field_tag(:title, @book2.title) %>
      <%= submit_tag("Add to books") %>
      <% end %>
    <% else%>
    <%= link_to 'Database View', book_path(book[0].id) %>


<% end %>
