
<div class='secondinner'>
  <h1><%= @book2.title %></h1>
  <h3><%= @book2.authors %></h3>
<div class='bookshowcontainer'>
    <div class='bookshowimage'>

<%= image_tag @book2.image_link(:zoom => 2) %>
</div>
<div class='bookshowtext'>
<h5>Publisher: <%= @book2.publisher %></h5>
<h5>Categories: <%= @book2.categories %></h5>
<p><%= @book2.published_date %></p>
<p><%= @book2.average_rating %></p>
<p> <b>Description:</b> <%= @book2.description %></p>
</div>


<% author = @author.where(name: @book2.authors) %>
<% book = @books.where(title: @book2.title) %>
<% if  book.empty? %>
<%= form_tag("/create/books", method: "post") do%>
      <%= hidden_field_tag(:title, @book2.title) %>
      <%= submit_tag("Add to books") %>
      <% end %>
    <% else%>
    <%= link_to 'Database View', book_path(book[0].id) %>


<% end %>
</div>
</div>
