<h1>author</h1>



<h1><%= @author.name %></h1>

<% if @author.groups.present? %>



<% @author.groups.each do |x|%>
<h2>Genre:<%= x.name %></h2>
<% end %>
<h2>Books:</h2>
<ul>
  <% @author.books.each do |book|%>
<li><a href="/books/<%= book.id %>"><%= book.title %></a></li>

  <% end %>

</ul>

<% end %>

<%= link_to 'Edit', edit_author_path(@author) %>
<%= link_to 'Delete', author_path(@author), method: :delete, data: {confirm: "Are you sure?"}%>
