<div class='secondinner'>
<h1><%= @chain.name %> </h1>

<% if @chain.authors.present? %>
<h1><%= link_to @chain.authors.first.name, author_path(@chain.authors.first.id) %></h1>

<% end %>



<h2>Books:</h2>
<ul>
  <% @chain.books.each do |book|%>
<li><a href="/books/<%= book.id %>"><%= book.title %></a></li>
  <% end %>

</ul>

<% if user_signed_in? %>

<%= link_to 'Edit', edit_chain_path(@chain) %>

<%= link_to 'Delete', chain_path(@chain), method: :delete, data: {confirm: "Are you sure?"}%>

<% end %>
</div>
